In [2]:
import geopandas as gpd
import pandas as pd

In [1]:
FILEPATH = "/Users/toddnief/Dropbox/1-Projects/dsi/rafi-poultry/rafi-poultry/data/location_match_fullest.csv"

In [4]:
df = pd.read_csv(FILEPATH)

In [5]:
df.head(2)

,Unnamed: 0.1,Unnamed: 0,EstNumber,EstID,Parent Corporation,Establishment Name,State,Size,Animals Processed,Processed\nVolume\nCategory,Slaughter\nVolume\nCategory,Full Address,latitude,longitude,Sales Volume (Location)
0,0,71,P1317 + V1317,4495,Cargill,Wayne Farms LLC,Alabama,Large,Chicken,5,5.0,"700 McDonald Avenue, Albertville, AL 35950",34.260726,-86.203222,438268.0
1,1,72,P7485 + V7485,4518,Cargill,Wayne Farms LLC,Alabama,Large,Chicken,5,5.0,"1020 County Road 114, Jack, AL 36346",31.500628,-85.903438,576660.0

In [6]:
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.longitude, df.latitude))

In [7]:
gdf.head(2)

,Unnamed: 0.1,Unnamed: 0,EstNumber,EstID,Parent Corporation,Establishment Name,State,Size,Animals Processed,Processed\nVolume\nCategory,Slaughter\nVolume\nCategory,Full Address,latitude,longitude,Sales Volume (Location),geometry
0,0,71,P1317 + V1317,4495,Cargill,Wayne Farms LLC,Alabama,Large,Chicken,5,5.0,"700 McDonald Avenue, Albertville, AL 35950",34.260726,-86.203222,438268.0,POINT (-86.20322 34.26073)
1,1,72,P7485 + V7485,4518,Cargill,Wayne Farms LLC,Alabama,Large,Chicken,5,5.0,"1020 County Road 114, Jack, AL 36346",31.500628,-85.903438,576660.0,POINT (-85.90344 31.50063)

In [8]:
gdf.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'EstNumber', 'EstID',
       'Parent Corporation', 'Establishment Name', 'State', 'Size',
       'Animals Processed', 'Processed\nVolume\nCategory',
       'Slaughter\nVolume\nCategory', 'Full Address', 'latitude', 'longitude',
       'Sales Volume (Location)', 'geometry'],
      dtype='object')

In [9]:
gdf = gdf.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

In [10]:
gdf.head(2)

,EstNumber,EstID,Parent Corporation,Establishment Name,State,Size,Animals Processed,Processed\nVolume\nCategory,Slaughter\nVolume\nCategory,Full Address,latitude,longitude,Sales Volume (Location),geometry
0,P1317 + V1317,4495,Cargill,Wayne Farms LLC,Alabama,Large,Chicken,5,5.0,"700 McDonald Avenue, Albertville, AL 35950",34.260726,-86.203222,438268.0,POINT (-86.20322 34.26073)
1,P7485 + V7485,4518,Cargill,Wayne Farms LLC,Alabama,Large,Chicken,5,5.0,"1020 County Road 114, Jack, AL 36346",31.500628,-85.903438,576660.0,POINT (-85.90344 31.50063)

In [11]:
gdf.to_file("../data/test_plants.geojson", driver='GeoJSON')