In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_0241 = pd.read_csv("../data/code_0241.csv")
df_0241.head()

,Unnamed: 0,COMPANY,ADDRESS LINE 1,CITY,STATE,ZIPCODE,ZIP4,COUNTY CODE,AREA CODE,IDCODE,...,POPULATION CODE,CENSUS TRACT,CENSUS BLOCK,LATITUDE,LONGITUDE,MATCH CODE,CBSA CODE,CBSA LEVEL,CSA CODE,FIPS CODE
0,0,DAIRYNET INC,2301 RESEARCH PARK WAY # 155,BROOKINGS,SD,57006,1724.0,11,605,2,...,7,958900,5,44.320347,-96.764656,P,15100,1.0,0,46011
1,1,PRAIRIE FARMS DAIRY INC,808 E MAIN ST,STREATOR,IL,61364,3004.0,99,815,2,...,7,964300,2,41.121418,-88.825205,P,36837,1.0,176,17099
2,2,K C DAIRY LLP,48612 212TH ST,ELKTON,SD,57026,6716.0,11,605,2,...,3,958600,2,44.314913,-96.471455,P,15100,1.0,0,46011
3,3,R & D DAIRY INC,52825 HIGHWAY 275,OAKDALE,NE,68761,3013.0,3,402,2,...,2,979800,3,42.072087,-97.945441,P,0,NaN,0,31003
4,4,STOP & GO,5566 ALEXIS RD,SYLVANIA,OH,43560,2456.0,95,419,2,...,7,8100,1,41.716807,-83.677325,P,45780,2.0,534,39095

In [5]:
df_0241["SIC6_DESCRIPTIONS (SIC)"].value_counts()

df_0241.iloc[0]["SIC CODE"] == 74201

# df["SIC CODE"].astype(str)
for i in range(len(df_0241)):
    print(i)
    if df_0241.iloc[i]["SIC CODE"] == 24101:
        print("here")
        print(df_0241.iloc[i])
        break

# print("yo", len(df))

0
1
here
Unnamed: 0                                                   1
COMPANY                                PRAIRIE FARMS DAIRY INC
ADDRESS LINE 1                                   808 E MAIN ST
CITY                                                  STREATOR
STATE                                                       IL
ZIPCODE                                                  61364
ZIP4                                                    3004.0
COUNTY CODE                                                 99
AREA CODE                                                  815
IDCODE                                                       2
LOCATION EMPLOYEE SIZE CODE                                  C
LOCATION SALES VOLUME CODE                                   C
PRIMARY SIC CODE                                         24103
SIC6_DESCRIPTIONS                                  DAIRY FARMS
PRIMARY NAICS CODE                                  11212002.0
NAICS8 DESCRIPTIONS             DAIRY CATTLE & MILK PRODUCTION
SIC CODE                                                 24101
SIC6_DESCRIPTIONS (SIC)                         DAIRIES (MILK)
SIC CODE 1                                                 NaN
SIC6_DESCRIPTIONS (SIC1)                                   NaN
SIC CODE 2                                                 NaN
SIC6_DESCRIPTIONS(SIC2)                                    NaN
SIC CODE 3                                                 NaN
SIC6_DESCRIPTIONS(SIC3)                                    NaN
SIC CODE 4                                                 NaN
SIC6_DESCRIPTIONS(SIC4)                                    NaN
ARCHIVE VERSION YEAR                                      2022
YELLOW PAGE CODE                                       24602.0
EMPLOYEE SIZE (5) - LOCATION                              10.0
SALES VOLUME (9) - LOCATION                             2375.0
BUSINESS STATUS CODE                                         2
INDUSTRY SPECIFIC FIRST BYTE                               NaN
YEAR ESTABLISHED                                           NaN
OFFICE SIZE CODE                                           NaN
COMPANY HOLDING STATUS                                     NaN
ABI                                                    8862500
SUBSIDIARY NUMBER                                          NaN
PARENT NUMBER                                      600266860.0
PARENT ACTUAL EMPLOYEE SIZE                               70.0
PARENT ACTUAL SALES VOLUME                            709300.0
PARENT EMPLOYEE SIZE CODE                                    E
PARENT SALES VOLUME CODE                                     J
SITE NUMBER                                                NaN
ADDRESS TYPE INDICATOR                                     NaN
POPULATION CODE                                              7
CENSUS TRACT                                            964300
CENSUS BLOCK                                                 2
LATITUDE                                             41.121418
LONGITUDE                                           -88.825205
MATCH CODE                                                   P
CBSA CODE                                                36837
CBSA LEVEL                                                 1.0
CSA CODE                                                   176
FIPS CODE                                                17099
Name: 1, dtype: object

In [6]:
df_0291 = pd.read_csv("../data/code_0291.csv")
df_0291.head()

,Unnamed: 0,COMPANY,ADDRESS LINE 1,CITY,STATE,ZIPCODE,ZIP4,COUNTY CODE,AREA CODE,IDCODE,...,POPULATION CODE,CENSUS TRACT,CENSUS BLOCK,LATITUDE,LONGITUDE,MATCH CODE,CBSA CODE,CBSA LEVEL,CSA CODE,FIPS CODE
0,0,CHURCH RANCH,20009 HIGHWAY 72,ARVADA,CO,80007,8236.0,59,303,2,...,5,60500,3,39.869196,-105.230716,P,19740,2.0,216,8059
1,1,UNITED PRODUCERS INC,3491 E STATE ROAD 44,RUSHVILLE,IN,46173,7846.0,139,765,2,...,6,974400,3,39.615453,-85.379248,P,0,NaN,0,18139
2,2,IVEY RANCH COUNTRY CLUB HOA,74580 VARNER RD,THOUSAND PALMS,CA,92276,4201.0,65,760,2,...,5,44520,1,33.789523,-116.359597,P,40140,2.0,348,6065
3,3,DALE SYBRANT RANCH,45240 859TH RD,BASSETT,NE,68714,6077.0,149,402,2,...,3,974600,1,42.282034,-99.453784,P,0,NaN,0,31149
4,4,BRANDT CATTLE CO,299 W MAIN ST,BRAWLEY,CA,92227,2240.0,25,760,2,...,7,10500,4,32.978750,-115.546533,0,20940,2.0,0,6025

In [10]:
df_0291["SIC6_DESCRIPTIONS (SIC)"].value_counts()

SIC6_DESCRIPTIONS (SIC)
RANCHES                                  1383
LIVESTOCK BROKERS                          74
REPTILES                                   52
FEDERAL GOVERNMENT CONTRACTORS             31
LIVESTOCK BUYERS (WHLS)                    29
                                         ...
TOURIST INFORMATION                         1
AGRICULTURAL CONSULTANTS                    1
ENTERTAINERS-ADULT                          1
MOBILE HOMES-PARKS & COMMUNITIES            1
CONVENTION & MEETING FACILITIES & SVC       1
Name: count, Length: 261, dtype: int64

In [13]:
# ranch analysis

df_ranch = df_0291[df_0291["SIC6_DESCRIPTIONS (SIC)"] == "RANCHES"]

df_ranch["STATE"].value_counts()

STATE
TX    301
CA    236
CO     94
MT     90
AZ     61
FL     54
WY     49
OR     42
OK     41
WA     32
NE     30
SD     29
UT     27
NM     27
ND     26
ID     19
NV     19
KS     18
MO     15
PA     14
MI     13
WI     12
MN     11
GA     11
IL     10
AR     10
IN      8
NC      7
NY      7
MS      7
LA      7
OH      6
IA      6
HI      5
ME      5
TN      4
AL      4
VT      3
NJ      3
KY      3
AK      3
MD      3
VA      2
WV      2
PR      2
SC      2
NH      1
MA      1
CT      1
Name: count, dtype: int64

In [18]:
# livestock borkers

df_livestock_borker = df_0291[df_0291["SIC6_DESCRIPTIONS (SIC)"] == "LIVESTOCK BROKERS"]

df_livestock_borker.head()

df_livestock_borker["STATE"].value_counts()

STATE
IA    13
WI     7
MN     6
VA     5
KY     4
PA     4
IN     4
MT     3
NE     3
WY     2
SD     2
ND     2
IL     2
GA     2
OH     2
WA     2
MO     1
MI     1
SC     1
NC     1
FL     1
AZ     1
HI     1
TN     1
NY     1
NJ     1
KS     1
Name: count, dtype: int64

In [20]:
# FEDERAL GOVERNMENT CONTRACTORS

df_fed_gov_contract = df_0291[df_0291["SIC6_DESCRIPTIONS (SIC)"] == "FEDERAL GOVERNMENT CONTRACTORS"]

df_fed_gov_contract["STATE"].value_counts()

STATE
CA    7
MT    3
AZ    3
FL    2
TX    2
MO    2
SD    1
NE    1
IL    1
OR    1
CO    1
OK    1
WY    1
LA    1
VT    1
AK    1
HI    1
WA    1
Name: count, dtype: int64