In [2]:
import pandas as pd
from fuzzywuzzy import fuzz
import numpy as np

c:\Users\chacon1\AppData\Local\Programs\Python\Python39\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
FSIS_DATA = "../data/fsis-processors-with-location.csv"
SIC_CODE = "2015" # Poultry Slaughtering and Processing
NAICS_CODE = "311615" # Poultry Processing
INFOGROUP_2022 = ["../data/2022_Business_Academic_QCQ.txt"]
# df = pd.read_csv(INFOGROUP_2022[0], nrows=10000, dtype=str)

In [4]:
# read in entire Infrogroup 2022 file
df = pd.read_csv(INFOGROUP_2022[0], dtype=str)

In [5]:
# covert all the elements of these columns to strings
df['SIC CODE'] = df['SIC CODE'].astype(str)
df['SIC CODE 1'] = df['SIC CODE 1'].astype(str)
df['SIC CODE 2'] = df['SIC CODE 2'].astype(str)
df['SIC CODE 3'] = df['SIC CODE 3'].astype(str)
df['SIC CODE 4'] = df['SIC CODE 4'].astype(str)
df['PRIMARY SIC CODE'] = df['PRIMARY SIC CODE'].astype(str)

In [6]:
# functin to build a dataframe of rows from Infogroup that have SIC Codes that match
# the desired input SIC Code

def sic_matches_df(mst_df, sic_code):
    df_sic = pd.DataFrame(columns=df.columns)
    sic_code = str(sic_code)
    
    for i in range(len(df)):
        if (  (df.iloc[i]['SIC CODE'].__contains__(sic_code) ) |
              (df.iloc[i]['SIC CODE 1'].__contains__(sic_code)) |
              (df.iloc[i]['SIC CODE 2'].__contains__(sic_code)) |
              (df.iloc[i]['SIC CODE 3'].__contains__(sic_code)) |
              (df.iloc[i]['SIC CODE 4'].__contains__(sic_code)) |
              (df.iloc[i]['PRIMARY SIC CODE'].__contains__(sic_code))
            ):
            df_sic.loc[len(df_sic.index)] = mst_df.iloc[i]
            
    return df_sic

In [7]:
# create new empty dataframe (to append to) containing only SIC Codes that we 0291
# df_sic_0291 = pd.DataFrame(columns=df.columns)

# for i in range(len(df)):
#     if ( (df.iloc[i]['SIC CODE'].__contains__('0291') ) |
#         (df.iloc[i]['SIC CODE 1'].__contains__('0291')) |
#         (df.iloc[i]['SIC CODE 2'].__contains__('0291')) |
#         (df.iloc[i]['SIC CODE 3'].__contains__('0291')) |
#         (df.iloc[i]['SIC CODE 4'].__contains__('0291')) |
#         (df.iloc[i]['PRIMARY SIC CODE'].__contains__('0291'))
#         ):
#         # df_sic_0291.append(df.iloc[i])
#         df_sic_0291.loc[len(df_sic_0291.index)] = df.iloc[i]

df_sic_0291 = sic_matches_df(df, '0291')

In [8]:
df_sic_0291.head()

,COMPANY,ADDRESS LINE 1,CITY,STATE,ZIPCODE,ZIP4,COUNTY CODE,AREA CODE,IDCODE,LOCATION EMPLOYEE SIZE CODE,...,POPULATION CODE,CENSUS TRACT,CENSUS BLOCK,LATITUDE,LONGITUDE,MATCH CODE,CBSA CODE,CBSA LEVEL,CSA CODE,FIPS CODE
0,CHURCH RANCH,20009 HIGHWAY 72,ARVADA,CO,80007,8236,059,303,2,A,...,5,060500,3,039.869196,-105.230716,P,19740,2,216,08059
1,SAN PABLITO RANCH,7660 WOODWAY DR,HOUSTON,TX,77063,1533,201,713,2,A,...,7,430300,1,029.752743,-095.503489,P,26420,2,288,48201
2,REMINGTON CREEK RANCH SALES,1015 STABLE SIDE CT,HOUSTON,TX,77073,6409,201,281,2,A,...,7,240702,2,029.966813,-095.393341,P,26420,2,288,48201
3,MOUNTAIN SHADOWS RANCH,3135 SHADY HOLLOW LN,JAMUL,CA,91935,2236,073,619,2,A,...,5,021302,2,032.737980,-116.818903,P,41740,2,000,06073
4,SMOKE TREE RANCH,1850 SMOKE TREE LN,PALM SPRINGS,CA,92264,9270,065,760,2,E,...,6,044807,1,033.797426,-116.521896,P,40140,2,348,06065

In [7]:
FILENAME = "../data/code_0291.csv"
df_sic_0291.to_csv(FILENAME)

In [8]:
# create new empty dataframe (to append to) containing only SIC Codes: 0241
df_sic_0241 = pd.DataFrame(columns=df.columns)


for i in range(len(df)):
# for i in range(100000):
    if ( ( df.iloc[i]['SIC CODE'].__contains__('0241') ) |
         ( df.iloc[i]['SIC CODE 1'].__contains__('0241') ) |
         ( df.iloc[i]['SIC CODE 2'].__contains__('0241') ) |
         ( df.iloc[i]['SIC CODE 3'].__contains__('0241') ) |
         ( df.iloc[i]['SIC CODE 4'].__contains__('0241') ) |
         ( df.iloc[i]['PRIMARY SIC CODE'].__contains__('0241') )
        ):
        # df_sic_0241.append(df.iloc[i])
        df_sic_0241.loc[len(df_sic_0241.index)] = df.iloc[i]

In [9]:
df_sic_0241.head()

,COMPANY,ADDRESS LINE 1,CITY,STATE,ZIPCODE,ZIP4,COUNTY CODE,AREA CODE,IDCODE,LOCATION EMPLOYEE SIZE CODE,...,POPULATION CODE,CENSUS TRACT,CENSUS BLOCK,LATITUDE,LONGITUDE,MATCH CODE,CBSA CODE,CBSA LEVEL,CSA CODE,FIPS CODE
0,MOSSING'S DAIRY LLC,47447 233A ST,EGAN,SD,57024,6439,101,605,2,B,...,2,959600,2,043.998130,-096.721610,P,00000,NaN,000,46101
1,LONG DAIRY FARM INC,27164 477TH AVE,HARRISBURG,SD,57032,8210,083,605,2,A,...,5,010107,3,043.450902,-096.667723,P,43620,2,000,46083
2,CYPHER DAIRY CONSULTING LLC,26443 461ST AVE,HARTFORD,SD,57033,6703,099,605,2,A,...,4,010300,2,043.551800,-096.992924,P,43620,2,000,46099
3,UNITED DAIRY INC,6 GARVIN DAIRY RD,FAIRMONT,WV,26554,5058,049,304,2,D,...,7,021000,2,039.481453,-080.082759,P,21900,1,390,54049
4,DAIRYNET INC,2301 RESEARCH PARK WAY # 155,BROOKINGS,SD,57006,1724,011,605,2,B,...,7,958900,5,044.320347,-096.764656,P,15100,1,000,46011

In [10]:
FILENAME = "../data/code_0241.csv"
df_sic_0241.to_csv(FILENAME)

In [32]:
USEFUL_COLS = [
    "COMPANY",
    "ADDRESS LINE 1",
    "CITY",
    "STATE",
    ]
SIC_COLS = [
    "PRIMARY SIC CODE", 
    'SIC CODE 1', 
    'SIC CODE 2', 
    'SIC CODE 3',
    'SIC CODE 4'
    ]
NAICS_COLS = [
    "NAICS CODE",
    "PRIMARY NAICS CODE"
    ]
DESCRIPTION_COLS = [
    # "NAICS8 DESCRIPTIONS", # only in 2021
    # "SIC6_DESCRIPTIONS (PRIMARYSIC)" # only in 2021
    "SIC6_DESCRIPTIONS (SIC)"
]

In [33]:
poultry_2022 = pd.read_csv("../data/poultry_plants_2022.csv")
poultry_2022.iloc[5]['SIC CODE']

poultry_2022[USEFUL_COLS + SIC_COLS + DESCRIPTION_COLS]

# poultry_2022.columns

,COMPANY,ADDRESS LINE 1,CITY,STATE,PRIMARY SIC CODE,SIC CODE 1,SIC CODE 2,SIC CODE 3,SIC CODE 4,SIC6_DESCRIPTIONS (SIC)
0,COOTERS FARM,1784 TUCK WILKES RD,NOXAPATER,MS,201501,NaN,NaN,NaN,NaN,POULTRY FARMS
1,TYSON FOODS INC,47283 SD HIGHWAY 34,COLMAN,SD,201104,25401.0,201501.0,204803.0,207702.0,LIVESTOCK-DEALERS (WHLS)
2,SIMMONS FOODS INC,2101 TWIN CIRCLE DR,VAN BUREN,AR,201501,NaN,NaN,NaN,NaN,NaN
3,TYSON FOODS INC,605 235-3301 #DD813,NORTH SIOUX CITY,SD,25401,201501.0,204803.0,207702.0,209903.0,MEAT PRODUCTS (MFRS)
4,MAR-JAC POULTRY INC,1301 JAMES ST,HATTIESBURG,MS,201501,NaN,NaN,NaN,NaN,POULTRY-WHOLESALE
...,...,...,...,...,...,...,...,...,...,...
715,PILGRIMS PRIDE,2237 WHITLEY RD E,WILSON,NC,201501,NaN,NaN,NaN,NaN,TRUCKING-CONTRACT HAULING
716,2-C'S ENTERPRISES,961 WHITES BOTTOM RD,BURKESVILLE,KY,201501,NaN,NaN,NaN,NaN,NaN
717,DAYBREAK FOODS INC,533 E TYRANENA PARK RD,LAKE MILLS,WI,541105,201501.0,NaN,NaN,NaN,FEDERAL GOVERNMENT CONTRACTORS
718,BELLARD'S POULTRY,405 S BULLARD ST,OPELOUSAS,LA,201501,549911.0,549907.0,571912.0,NaN,POULTRY FARMS
719,MBA POULTRY,333 S 3RD ST,TECUMSEH,NE,201501,NaN,NaN,NaN,NaN,FOOD PRODUCTS (WHLS)