# EDA of Infogroup Datasets
#### We use this data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import clean
import glob

In [7]:
%run clean.py

In [2]:
info_2022 = pd.read_csv("../data/raw/infogroup/poultry_plants_2022.csv")
print("This dataframe has", len(info_2022), "rows")
print("The column data types of the variables in this DF are\n", info_2022.dtypes)

This dataframe has 720 rows
The column data types of the variables in this DF are
 Unnamed: 0                        int64
COMPANY                          object
ADDRESS LINE 1                   object
CITY                             object
STATE                            object
ZIPCODE                         float64
ZIP4                            float64
COUNTY CODE                     float64
AREA CODE                         int64
IDCODE                            int64
LOCATION EMPLOYEE SIZE CODE      object
LOCATION SALES VOLUME CODE       object
PRIMARY SIC CODE                  int64
SIC6_DESCRIPTIONS                object
PRIMARY NAICS CODE              float64
NAICS8 DESCRIPTIONS              object
SIC CODE                        float64
SIC6_DESCRIPTIONS (SIC)          object
SIC CODE 1                      float64
SIC6_DESCRIPTIONS (SIC1)         object
SIC CODE 2                      float64
SIC6_DESCRIPTIONS(SIC2)          object
SIC CODE 3                      float64
SIC6_DESCRIPTIONS(SIC3)          object
SIC CODE 4                      float64
SIC6_DESCRIPTIONS(SIC4)          object
ARCHIVE VERSION YEAR              int64
YELLOW PAGE CODE                float64
EMPLOYEE SIZE (5) - LOCATION    float64
SALES VOLUME (9) - LOCATION     float64
BUSINESS STATUS CODE              int64
INDUSTRY SPECIFIC FIRST BYTE    float64
YEAR ESTABLISHED                float64
OFFICE SIZE CODE                float64
COMPANY HOLDING STATUS          float64
ABI                               int64
SUBSIDIARY NUMBER               float64
PARENT NUMBER                   float64
PARENT ACTUAL EMPLOYEE SIZE     float64
PARENT ACTUAL SALES VOLUME      float64
PARENT EMPLOYEE SIZE CODE        object
PARENT SALES VOLUME CODE         object
SITE NUMBER                     float64
ADDRESS TYPE INDICATOR           object
POPULATION CODE                   int64
CENSUS TRACT                    float64
CENSUS BLOCK                    float64
LATITUDE                        float64
LONGITUDE                       float64
MATCH CODE                       object
CBSA CODE                       float64
CBSA LEVEL                      float64
CSA CODE                        float64
FIPS CODE                       float64
dtype: object

## To clean the infogroup dataset, we:
#### Made a large dataframe that contained each individual year's dataset, from 1997 to 2022, standardized column names to be all uppercase, turned NaNs to 0s, and turned float64 categorical variables (such as YEAR ESTABLISHED) into int64s

In [3]:
import clean

here = Path().resolve()

clean.clean_infogroup(here.parent / "data/raw/infogroup")
df = pd.read_csv(here.parent / "data/clean/cleaned_infogroup_plants_all_time.csv")
df

/var/folders/ly/2syhzlz16r73t4fqm0kkkz2h0000gn/T/ipykernel_3003/1482678953.py:6: DtypeWarning: Columns (32,55,56,61,62,64,66,69,75,76,77,78,81,82,83,86,87,88,91) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(here.parent / "data/clean/cleaned_infogroup_plants_all_time.csv")

,Unnamed: 0,UNNAMED: 0,COMPANY,ADDRESS LINE 1,CITY,STATE,ZIPCODE,ZIP4,COUNTY CODE,AREA CODE,...,MAILING CITY,MAILING STATE,MAILING ZIPCODE,MAILING ZIP4,MAILING ADDRESS FLAG,UNIT NUMBER,UNIT TYPE,NAICS CODE,PROFESSIONAL SIC FLAG,SIC6_DESCRIPTIONS (PRIMARYSIC)
0,0,3654472,TYSON FOODS INC,5421 W BEAVER ST,JACKSONVILLE,FL,32254.0,2993.0,31.0,904.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4288639,PECO FOODS INC,3701 KAULOOSA AVE,TUSCALOOSA,AL,35401.0,7095.0,125.0,205.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,4294870,GOLD KIST INC,1001 HIGHWAY 78 BYP W,JASPER,AL,35501.0,3698.0,127.0,205.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4301284,KING FOODS,641 HOLLY ST NE,DECATUR,AL,35601.0,2641.0,103.0,205.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4302015,WAYNE FARMS,IPSCO ST,DECATUR,AL,35601.0,NaN,103.0,205.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16338,16338,6017417,PILGRIM'S PRIDE CORP,2022 GOLDEN RD,TUSCUMBIA,AL,35674.0,7271.0,33.0,256.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16339,16339,6044574,PILGRIM'S PRIDE CORP,NaN,FLORENCE,AL,35630.0,NaN,77.0,256.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16340,16340,6046543,ONORATO & CO,390 SWIFT AVE # 17,S SAN FRANCISCO,CA,94080.0,6221.0,81.0,650.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16341,16341,6124485,COOPER FARMS PROCESSING,1 COOPER FARM DR,ST HENRY,OH,45883.0,9556.0,107.0,419.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16342,16342,16840340,MBA POULTRY,333 S 3RD ST,TECUMSEH,NE,68450.0,2307.0,97.0,402.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN