# EDA of Infogroup Datasets
#### This notebook reads in the raw infogroup datasets, cleans them, and outputs a master dataframe that contains years 1997-2022. A brief analysis follows

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

import sys, os
sys.path.append(os.path.join(os.path.abspath(""), '..', 'pipeline'))
import clean

In [2]:
info_2022 = pd.read_csv("../data/raw/infogroup/poultry_plants_2022.csv")
print("This dataframe has", len(info_2022), "rows")
print("The column data types of the variables in this DF are\n", info_2022.dtypes)

This dataframe has 720 rows
The column data types of the variables in this DF are
 Unnamed: 0                        int64
COMPANY                          object
ADDRESS LINE 1                   object
CITY                             object
STATE                            object
ZIPCODE                         float64
ZIP4                            float64
COUNTY CODE                     float64
AREA CODE                         int64
IDCODE                            int64
LOCATION EMPLOYEE SIZE CODE      object
LOCATION SALES VOLUME CODE       object
PRIMARY SIC CODE                  int64
SIC6_DESCRIPTIONS                object
PRIMARY NAICS CODE              float64
NAICS8 DESCRIPTIONS              object
SIC CODE                        float64
SIC6_DESCRIPTIONS (SIC)          object
SIC CODE 1                      float64
SIC6_DESCRIPTIONS (SIC1)         object
SIC CODE 2                      float64
SIC6_DESCRIPTIONS(SIC2)          object
SIC CODE 3                      float64
SIC6_DESCRIPTIONS(SIC3)          object
SIC CODE 4                      float64
SIC6_DESCRIPTIONS(SIC4)          object
ARCHIVE VERSION YEAR              int64
YELLOW PAGE CODE                float64
EMPLOYEE SIZE (5) - LOCATION    float64
SALES VOLUME (9) - LOCATION     float64
BUSINESS STATUS CODE              int64
INDUSTRY SPECIFIC FIRST BYTE    float64
YEAR ESTABLISHED                float64
OFFICE SIZE CODE                float64
COMPANY HOLDING STATUS          float64
ABI                               int64
SUBSIDIARY NUMBER               float64
PARENT NUMBER                   float64
PARENT ACTUAL EMPLOYEE SIZE     float64
PARENT ACTUAL SALES VOLUME      float64
PARENT EMPLOYEE SIZE CODE        object
PARENT SALES VOLUME CODE         object
SITE NUMBER                     float64
ADDRESS TYPE INDICATOR           object
POPULATION CODE                   int64
CENSUS TRACT                    float64
CENSUS BLOCK                    float64
LATITUDE                        float64
LONGITUDE                       float64
MATCH CODE                       object
CBSA CODE                       float64
CBSA LEVEL                      float64
CSA CODE                        float64
FIPS CODE                       float64
dtype: object

## To clean the infogroup dataset, we:
#### Made a large dataframe that contained each individual year's dataset, from 1997 to 2022, standardized column names to be all uppercase, turned NaNs to 0s, turned float64 categorical variables (such as YEAR ESTABLISHED) into int64s, and added a column for parent names using the parent company ABIs

In [3]:
here = Path().resolve()

clean.clean_infogroup(here.parent / "data/raw/infogroup")
df = pd.read_csv(here.parent / "data/clean/cleaned_infogroup_plants_all_time.csv", index_col=0)
df.head(5)

,COMPANY,ADDRESS LINE 1,CITY,STATE,ZIPCODE,PRIMARY SIC CODE,ARCHIVE VERSION YEAR,YEAR ESTABLISHED,ABI,COMPANY HOLDING STATUS,PARENT NUMBER,PARENT NAME,LATITUDE,LONGITUDE,YEAR 1ST APPEARED
0,TYSON FOODS INC,5421 W BEAVER ST,JACKSONVILLE,FL,32254.0,201501.0,1997,0,456474451,0.0,7537913,Tyson Foods Inc,30.326801,-81.741302,0
1,PECO FOODS INC,3701 KAULOOSA AVE,TUSCALOOSA,AL,35401.0,201501.0,1997,0,166231,0.0,0,None,33.178114,-87.561440,0
2,GOLD KIST INC,1001 HIGHWAY 78 BYP W,JASPER,AL,35501.0,201501.0,1997,0,133681577,0.0,1941509,UNKNOWN,33.848245,-87.289162,0
3,KING FOODS,641 HOLLY ST NE,DECATUR,AL,35601.0,201501.0,1997,0,886923978,0.0,0,None,34.604495,-86.978356,0
4,WAYNE FARMS,IPSCO ST,DECATUR,AL,35601.0,201501.0,1997,0,635771,0.0,0,None,34.593707,-86.996174,0

## Brief Analysis & Exploration

In [4]:
unique_buisnesses = df.drop_duplicates(subset=['ABI'])
print("There are", len(unique_buisnesses), "businesses with unique ABI codes within this dataset")

There are 2166 businesses with unique ABI codes within this dataset

In [5]:
# What states have the most unique processing plants?
unique_buisnesses.groupby('STATE').count()['COMPANY'].sort_values(ascending=False)

STATE
AR    208
GA    176
TX    169
AL    136
NC    126
CA    113
MS     96
MN     89
MO     72
OH     70
PA     64
IA     54
VA     51
NY     51
OK     49
IN     46
SC     41
TN     40
IL     39
WI     38
FL     35
NE     35
MI     34
MD     33
LA     32
KY     31
CO     26
DE     25
NJ     24
KS     19
SD     19
MA     15
WA     14
ME     13
UT     12
OR     11
HI     10
NH      8
ID      8
WV      6
RI      5
CT      5
AZ      5
ND      4
DC      2
VT      2
AK      2
NV      1
NM      1
MT      1
Name: COMPANY, dtype: int64

#### Using ABI to track businesses across the years

In [6]:
# I.E. ABI 512247248
ex_ABI = df.loc[df.ABI == 512247248].reset_index(drop=True)
ex_ABI

,COMPANY,ADDRESS LINE 1,CITY,STATE,ZIPCODE,PRIMARY SIC CODE,ARCHIVE VERSION YEAR,YEAR ESTABLISHED,ABI,COMPANY HOLDING STATUS,PARENT NUMBER,PARENT NAME,LATITUDE,LONGITUDE,YEAR 1ST APPEARED
0,SIMMONS FOODS,PO BOX V,VAN BUREN,AR,72956.0,201501.0,1999,0,512247248,0.0,0,None,35.455247,-94.339599,0
1,SIMMONS FOODS,PO BOX V,VAN BUREN,AR,72956.0,201501.0,2000,0,512247248,0.0,0,None,35.455247,-94.339599,0
2,SIMMONS FOODS,PO BOX V,VAN BUREN,AR,72956.0,201501.0,2001,0,512247248,0.0,0,None,35.455247,-94.339599,0
3,SIMMONS FOODS,PO BOX V,VAN BUREN,AR,72956.0,201501.0,2002,0,512247248,0.0,0,None,35.455247,-94.339599,0
4,SIMMONS FOODS,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2003,0,512247248,NaN,0,None,35.428060,-94.336720,0
5,SIMMONS FOODS,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2004,0,512247248,NaN,0,None,35.428060,-94.336720,0
6,SIMMONS FOODS,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2005,0,512247248,NaN,0,None,35.428060,-94.336720,0
7,SIMMONS FOODS,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2006,0,512247248,NaN,0,None,35.428060,-94.336720,0
8,SIMMONS FOODS,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2007,0,512247248,NaN,0,None,35.428060,-94.336720,0
9,SIMMONS FOODS INC,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2008,0,512247248,NaN,0,None,35.428060,-94.336720,0
10,SIMMONS FOODS INC,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2009,0,512247248,NaN,0,None,35.428060,-94.336720,0
11,SIMMONS FOODS INC,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2014,0,512247248,NaN,7534076,Simmons Foods Inc,35.428060,-94.336720,0
12,SIMMONS FOODS INC,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2015,0,512247248,NaN,7534076,Simmons Foods Inc,35.428048,-94.336740,0
13,SIMMONS FOODS INC,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2016,0,512247248,NaN,7534076,Simmons Foods Inc,35.428048,-94.336740,0
14,SIMMONS FOODS INC,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2017,0,512247248,NaN,7534076,Simmons Foods Inc,35.428048,-94.336740,0
15,SIMMONS FOODS INC,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2018,0,512247248,NaN,7534076,Simmons Foods Inc,35.428061,-94.336725,0
16,SIMMONS FOODS INC,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2019,0,512247248,NaN,7534076,Simmons Foods Inc,35.428061,-94.336725,0
17,SIMMONS FOODS INC,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2020,0,512247248,NaN,7534076,Simmons Foods Inc,35.428061,-94.336725,0
18,SIMMONS FOODS INC,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2021,0,512247248,NaN,7534076,Simmons Foods Inc,35.428061,-94.336725,1999
19,SIMMONS FOODS INC,2101 TWIN CIRCLE DR,VAN BUREN,AR,72956.0,201501.0,2022,0,512247248,NaN,7534076,Simmons Foods Inc,35.428061,-94.336725,0