# EDA of Infogroup Datasets
#### This notebook reads in the raw infogroup datasets, cleans them, and outputs a master dataframe that contains years 1997-2022. A brief analysis follows

In [13]:
import pandas as pd
import numpy as np
from pipeline.clean import clean_infogroup
from pipeline.constants import RAW_INFOGROUP_FPATH, CLEANED_INFOGROUP_FPATH, \
                                INFOGROUP_2022

ModuleNotFoundError: No module named 'pipeline'

In [3]:
info_2022 = pd.read_csv(INFOGROUP_2022)
info_2022.info()

This dataframe has 720 rows
The column data types of the variables in this DF are
 Unnamed: 0                        int64
COMPANY                          object
ADDRESS LINE 1                   object
CITY                             object
STATE                            object
ZIPCODE                         float64
ZIP4                            float64
COUNTY CODE                     float64
AREA CODE                         int64
IDCODE                            int64
LOCATION EMPLOYEE SIZE CODE      object
LOCATION SALES VOLUME CODE       object
PRIMARY SIC CODE                  int64
SIC6_DESCRIPTIONS                object
PRIMARY NAICS CODE              float64
NAICS8 DESCRIPTIONS              object
SIC CODE                        float64
SIC6_DESCRIPTIONS (SIC)          object
SIC CODE 1                      float64
SIC6_DESCRIPTIONS (SIC1)         object
SIC CODE 2                      float64
SIC6_DESCRIPTIONS(SIC2)          object
SIC CODE 3                      float64
SIC6_DESCRIPTIONS(SIC3)          object
SIC CODE 4                      float64
SIC6_DESCRIPTIONS(SIC4)          object
ARCHIVE VERSION YEAR              int64
YELLOW PAGE CODE                float64
EMPLOYEE SIZE (5) - LOCATION    float64
SALES VOLUME (9) - LOCATION     float64
BUSINESS STATUS CODE              int64
INDUSTRY SPECIFIC FIRST BYTE    float64
YEAR ESTABLISHED                float64
OFFICE SIZE CODE                float64
COMPANY HOLDING STATUS          float64
ABI                               int64
SUBSIDIARY NUMBER               float64
PARENT NUMBER                   float64
PARENT ACTUAL EMPLOYEE SIZE     float64
PARENT ACTUAL SALES VOLUME      float64
PARENT EMPLOYEE SIZE CODE        object
PARENT SALES VOLUME CODE         object
SITE NUMBER                     float64
ADDRESS TYPE INDICATOR           object
POPULATION CODE                   int64
CENSUS TRACT                    float64
CENSUS BLOCK                    float64
LATITUDE                        float64
LONGITUDE                       float64
MATCH CODE                       object
CBSA CODE                       float64
CBSA LEVEL                      float64
CSA CODE                        float64
FIPS CODE                       float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 54 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    720 non-null    int64
 1   COMPANY                       720 non-null    object
 2   ADDRESS LINE 1                701 non-null    object
 3   CITY                          720 non-null    object
 4   STATE                         720 non-null    object
 5   ZIPCODE                       720 non-null    float64
 6   ZIP4                          586 non-null    float64
 7   COUNTY CODE                   720 non-null    float64
 8   AREA CODE                     720 non-null    int64
 9   IDCODE                        720 non-null    int64
 10  LOCATION EMPLOYEE SIZE CODE   716 non-null    object
 11  LOCATION SALES VOLUME CODE    674 non-null    object
 12  PRIMARY SIC CODE              720 non-null    int64
 13  SIC6_DESCRIPTIONS             720 non-null    object
 14  PRIMARY NAICS CODE            720 non-null    float64
 15  NAICS8 DESCRIPTIONS           720 non-null    object
 16  SIC CODE                      606 non-null    float64
 17  SIC6_DESCRIPTIONS (SIC)       606 non-null    object
 18  SIC CODE 1                    409 non-null    float64
 19  SIC6_DESCRIPTIONS (SIC1)      409 non-null    object
 20  SIC CODE 2                    277 non-null    float64
 21  SIC6_DESCRIPTIONS(SIC2)       277 non-null    object
 22  SIC CODE 3                    233 non-null    float64
 23  SIC6_DESCRIPTIONS(SIC3)       233 non-null    object
 24  SIC CODE 4                    189 non-null    float64
 25  SIC6_DESCRIPTIONS(SIC4)       189 non-null    object
 26  ARCHIVE VERSION YEAR          720 non-null    int64
 27  YELLOW PAGE CODE              127 non-null    float64
 28  EMPLOYEE SIZE (5) - LOCATION  716 non-null    float64
 29  SALES VOLUME (9) - LOCATION   717 non-null    float64
 30  BUSINESS STATUS CODE          720 non-null    int64
 31  INDUSTRY SPECIFIC FIRST BYTE  0 non-null      float64
 32  YEAR ESTABLISHED              280 non-null    float64
 33  OFFICE SIZE CODE              0 non-null      float64
 34  COMPANY HOLDING STATUS        4 non-null      float64
 35  ABI                           720 non-null    int64
 36  SUBSIDIARY NUMBER             177 non-null    float64
 37  PARENT NUMBER                 442 non-null    float64
 38  PARENT ACTUAL EMPLOYEE SIZE   435 non-null    float64
 39  PARENT ACTUAL SALES VOLUME    205 non-null    float64
 40  PARENT EMPLOYEE SIZE CODE     435 non-null    object
 41  PARENT SALES VOLUME CODE      200 non-null    object
 42  SITE NUMBER                   105 non-null    float64
 43  ADDRESS TYPE INDICATOR        1 non-null      object
 44  POPULATION CODE               720 non-null    int64
 45  CENSUS TRACT                  720 non-null    float64
 46  CENSUS BLOCK                  720 non-null    float64
 47  LATITUDE                      720 non-null    float64
 48  LONGITUDE                     720 non-null    float64
 49  MATCH CODE                    720 non-null    object
 50  CBSA CODE                     720 non-null    float64
 51  CBSA LEVEL                    533 non-null    float64
 52  CSA CODE                      720 non-null    float64
 53  FIPS CODE                     720 non-null    float64
dtypes: float64(29), int64(8), object(17)
memory usage: 303.9+ KB

## To clean the infogroup dataset, we:
#### Made a large dataframe that contained each individual year's dataset, from 1997 to 2022, standardized column names to be all uppercase, turned NaNs to 0s, turned float64 categorical variables (such as YEAR ESTABLISHED) into int64s, and added a column for parent names using the parent company ABIs

In [3]:
clean_infogroup(RAW_INFOGROUP_FPATH, '2015', filter)
df = pd.read_csv(CLEANED_INFOGROUP_FPATH, index_col=0)
df.head(5)

,COMPANY,ADDRESS LINE 1,CITY,STATE,ZIPCODE,PRIMARY SIC CODE,ARCHIVE VERSION YEAR,YEAR ESTABLISHED,ABI,SALES VOLUME (9) - LOCATION,COMPANY HOLDING STATUS,PARENT NUMBER,PARENT NAME,LATITUDE,LONGITUDE,YEAR 1ST APPEARED
0,TYSON FOODS INC,5421 W BEAVER ST,JACKSONVILLE,FL,32254.0,201501.0,1997,0,456474451,116100.0,0.0,7537913,Tyson Foods Inc,30.326801,-81.741302,0
1,PECO FOODS INC,3701 KAULOOSA AVE,TUSCALOOSA,AL,35401.0,201501.0,1997,0,166231,140000.0,0.0,0,None,33.178114,-87.561440,0
2,GOLD KIST INC,1001 HIGHWAY 78 BYP W,JASPER,AL,35501.0,201501.0,1997,0,133681577,2085.0,0.0,1941509,UNKNOWN,33.848245,-87.289162,0
3,KING FOODS,641 HOLLY ST NE,DECATUR,AL,35601.0,201501.0,1997,0,886923978,7740.0,0.0,0,None,34.604495,-86.978356,0
4,WAYNE FARMS,IPSCO ST,DECATUR,AL,35601.0,201501.0,1997,0,635771,129000.0,0.0,0,None,34.593707,-86.996174,0

## Brief Analysis & Exploration

In [4]:
unique_buisnesses = df.drop_duplicates(subset=['ABI'])
print("There are", len(unique_buisnesses), "businesses with unique ABI codes within this dataset")

There are 2166 businesses with unique ABI codes within this dataset

In [5]:
# What states have the most unique processing plants?
unique_buisnesses.groupby('STATE').count()['COMPANY'].sort_values(ascending=False)

STATE
AR    208
GA    176
TX    169
AL    136
NC    126
CA    113
MS     96
MN     89
MO     72
OH     70
PA     64
IA     54
VA     51
NY     51
OK     49
IN     46
SC     41
TN     40
IL     39
WI     38
FL     35
NE     35
MI     34
MD     33
LA     32
KY     31
CO     26
DE     25
NJ     24
KS     19
SD     19
MA     15
WA     14
ME     13
UT     12
OR     11
HI     10
NH      8
ID      8
WV      6
RI      5
CT      5
AZ      5
ND      4
DC      2
VT      2
AK      2
NV      1
NM      1
MT      1
Name: COMPANY, dtype: int64

### Using ABI to track businesses across the years

##### The ABI is the unique number assigned to each business in the infogroup database. A business's ABI number will not vary by year. Because of this, we can use the ABI number to perform record linkage on the infogroup data, from 1997 to 2022.