In [26]:
import pandas as pd
from fuzzywuzzy import fuzz
import numpy as np

This notebooks filters data in the infogroup dataset based upon SIC or NAICS code. It also includes fuzzy string matching to match addresses to the FSIS dataset on meat packing plants.

In [142]:
FSIS_DATA = "../data/fsis-processors-with-location.csv"

INFOGROUP_2021 = ["../data/2021_Business_FullFile_QCQ-A.txt", "../data/2021_Business_FullFile_QCQ-B.txt"]
INFOGROUP_2022 = ["../data/2022_Business_Academic_QCQ.txt"]

SMOKE_TEST = False

In [133]:
USEFUL_COLS = [
    "COMPANY",
    "ADDRESS LINE 1",
    "CITY",
    "STATE",
    ]
SIC_COLS = [
    "PRIMARY SIC CODE", 
    'SIC CODE 1', 
    'SIC CODE 2', 
    'SIC CODE 3',
    'SIC CODE 4'
    ]
NAICS_COLS = [
    "NAICS CODE",
    "PRIMARY NAICS CODE"
    ]
DESCRIPTION_COLS = [
    # "NAICS8 DESCRIPTIONS", # only in 2021
    # "SIC6_DESCRIPTIONS (PRIMARYSIC)" # only in 2021
    "SIC6_DESCRIPTIONS (SIC)"
]

In [134]:
SIC_CODE = "2015" # Poultry Slaughtering and Processing
NAICS_CODE = "311615" # Poultry Processing

SIC_CODE = "0251" # Broiler, Fryer, and Roaster Chickens

In [135]:
df_head = pd.read_csv(INFOGROUP_2022[0], nrows=10000, dtype=str)

In [136]:
df_head.columns

Index(['COMPANY', 'ADDRESS LINE 1', 'CITY', 'STATE', 'ZIPCODE', 'ZIP4',
       'COUNTY CODE', 'AREA CODE', 'IDCODE', 'LOCATION EMPLOYEE SIZE CODE',
       'LOCATION SALES VOLUME CODE', 'PRIMARY SIC CODE', 'SIC6_DESCRIPTIONS',
       'PRIMARY NAICS CODE', 'NAICS8 DESCRIPTIONS', 'SIC CODE',
       'SIC6_DESCRIPTIONS (SIC)', 'SIC CODE 1', 'SIC6_DESCRIPTIONS (SIC1)',
       'SIC CODE 2', 'SIC6_DESCRIPTIONS(SIC2)', 'SIC CODE 3',
       'SIC6_DESCRIPTIONS(SIC3)', 'SIC CODE 4', 'SIC6_DESCRIPTIONS(SIC4)',
       'ARCHIVE VERSION YEAR', 'YELLOW PAGE CODE',
       'EMPLOYEE SIZE (5) - LOCATION', 'SALES VOLUME (9) - LOCATION',
       'BUSINESS STATUS CODE', 'INDUSTRY SPECIFIC FIRST BYTE',
       'YEAR ESTABLISHED', 'OFFICE SIZE CODE', 'COMPANY HOLDING STATUS', 'ABI',
       'SUBSIDIARY NUMBER', 'PARENT NUMBER', 'PARENT ACTUAL EMPLOYEE SIZE',
       'PARENT ACTUAL SALES VOLUME', 'PARENT EMPLOYEE SIZE CODE',
       'PARENT SALES VOLUME CODE', 'SITE NUMBER', 'ADDRESS TYPE INDICATOR',
       'POPULATION CODE', 'CENSUS TRACT', 'CENSUS BLOCK', 'LATITUDE',
       'LONGITUDE', 'MATCH CODE', 'CBSA CODE', 'CBSA LEVEL', 'CSA CODE',
       'FIPS CODE'],
      dtype='object')

In [137]:
df_head[USEFUL_COLS + SIC_COLS + DESCRIPTION_COLS]

,COMPANY,ADDRESS LINE 1,CITY,STATE,PRIMARY SIC CODE,SIC CODE 1,SIC CODE 2,SIC CODE 3,SIC CODE 4,SIC6_DESCRIPTIONS (SIC)
0,MIRAGE DRAPERIES,4731 E SUNNY DUNES RD,PALM SPRINGS,CA,225903,259103,259198,502328,519953,DRAPERIES & CURTAINS-RETAIL/CUSTOM MADE
1,NaN,11700 OLIO RD,FISHERS,IN,804907,NaN,NaN,NaN,NaN,NaN
2,STONE RESIN SURFACING LLC,1 MAYFLOWER PL,MILFORD,CT,282105,NaN,NaN,NaN,NaN,NaN
3,NaN,2121 7TH ST,PARKERSBURG,WV,832221,NaN,NaN,NaN,NaN,NaN
4,IRONWOOD STATE PRISON,19005 WILEYS WELL RD,BLYTHE,CA,912102,922302,NaN,NaN,NaN,FEDERAL GOVERNMENT CONTRACTORS
...,...,...,...,...,...,...,...,...,...,...
9995,GOODMAN CAMPBELL BRAIN & SPINE,13345 ILLINOIS ST,CARMEL,IN,801101,NaN,NaN,NaN,NaN,NaN
9996,UVAPE LLC,467 S MAIN ST,COLCHESTER,CT,599302,NaN,NaN,NaN,NaN,NaN
9997,DQ GRILL & CHILL,80 BLUE HERON DR,RIDGELAND,SC,581208,581203,581206,NaN,NaN,SERVICE STATIONS-GASOLINE & OIL
9998,NaN,19 MOSS CREEK VLG # D,HILTON HEAD ISLE,SC,804907,NaN,NaN,NaN,NaN,NaN
9999,WVU HEALTHCARE-IMAGING,1 MEDICAL CENTER DR,MORGANTOWN,WV,801101,NaN,NaN,NaN,NaN,DIAGNOSTIC IMAGING CENTERS

In [144]:
def filter_infogroup(filenames: list[str, ...], search_cols: list[str, ...], search_str: str, chunksize: int=10000, smoke_test: bool=SMOKE_TEST):
    filtered_df = pd.DataFrame([])
    for filename in filenames:
        for df in pd.read_csv(filename, iterator=True, chunksize=chunksize):
            rows_to_add = df[df[search_cols].apply(lambda r: r.astype(str).str.contains(search_str, case=False).any(), axis=1)]
            filtered_df = pd.concat([filtered_df, rows_to_add], axis=0)
            if smoke_test:
                break
    return filtered_df

In [155]:
SMOKE_TEST = False
SIC_CODE = "0259" # Poultry and Eggs, Not Elsewhere Classified
# no results for 0259 or 0251
df_filtered = filter_infogroup(INFOGROUP_2022, SIC_COLS, SIC_CODE, chunksize=1000000)

In [156]:
df_filtered.head()

Empty DataFrame
Columns: [COMPANY, ADDRESS LINE 1, CITY, STATE, ZIPCODE, ZIP4, COUNTY CODE, AREA CODE, IDCODE, LOCATION EMPLOYEE SIZE CODE, LOCATION SALES VOLUME CODE, PRIMARY SIC CODE, SIC6_DESCRIPTIONS, PRIMARY NAICS CODE, NAICS8 DESCRIPTIONS, SIC CODE, SIC6_DESCRIPTIONS (SIC), SIC CODE 1, SIC6_DESCRIPTIONS (SIC1), SIC CODE 2, SIC6_DESCRIPTIONS(SIC2), SIC CODE 3, SIC6_DESCRIPTIONS(SIC3), SIC CODE 4, SIC6_DESCRIPTIONS(SIC4), ARCHIVE VERSION YEAR, YELLOW PAGE CODE, EMPLOYEE SIZE (5) - LOCATION, SALES VOLUME (9) - LOCATION, BUSINESS STATUS CODE, INDUSTRY SPECIFIC FIRST BYTE, YEAR ESTABLISHED, OFFICE SIZE CODE, COMPANY HOLDING STATUS, ABI, SUBSIDIARY NUMBER, PARENT NUMBER, PARENT ACTUAL EMPLOYEE SIZE, PARENT ACTUAL SALES VOLUME, PARENT EMPLOYEE SIZE CODE, PARENT SALES VOLUME CODE, SITE NUMBER, ADDRESS TYPE INDICATOR, POPULATION CODE, CENSUS TRACT, CENSUS BLOCK, LATITUDE, LONGITUDE, MATCH CODE, CBSA CODE, CBSA LEVEL, CSA CODE, FIPS CODE]
Index: []

[0 rows x 53 columns]

In [59]:
df_filtered.columns

Index(['COMPANY', 'ADDRESS LINE 1', 'CITY', 'STATE', 'ZIPCODE', 'ZIP4',
       'COUNTY CODE', 'AREA CODE', 'IDCODE', 'LOCATION EMPLOYEE SIZE CODE',
       'LOCATION SALES VOLUME CODE', 'PRIMARY SIC CODE', 'SIC6_DESCRIPTIONS',
       'PRIMARY NAICS CODE', 'NAICS8 DESCRIPTIONS', 'SIC CODE',
       'SIC6_DESCRIPTIONS (SIC)', 'SIC CODE 1', 'SIC6_DESCRIPTIONS (SIC1)',
       'SIC CODE 2', 'SIC6_DESCRIPTIONS(SIC2)', 'SIC CODE 3',
       'SIC6_DESCRIPTIONS(SIC3)', 'SIC CODE 4', 'SIC6_DESCRIPTIONS(SIC4)',
       'ARCHIVE VERSION YEAR', 'YELLOW PAGE CODE',
       'EMPLOYEE SIZE (5) - LOCATION', 'SALES VOLUME (9) - LOCATION',
       'BUSINESS STATUS CODE', 'INDUSTRY SPECIFIC FIRST BYTE',
       'YEAR ESTABLISHED', 'OFFICE SIZE CODE', 'COMPANY HOLDING STATUS', 'ABI',
       'SUBSIDIARY NUMBER', 'PARENT NUMBER', 'PARENT ACTUAL EMPLOYEE SIZE',
       'PARENT ACTUAL SALES VOLUME', 'PARENT EMPLOYEE SIZE CODE',
       'PARENT SALES VOLUME CODE', 'SITE NUMBER', 'ADDRESS TYPE INDICATOR',
       'POPULATION CODE', 'CENSUS TRACT', 'CENSUS BLOCK', 'LATITUDE',
       'LONGITUDE', 'MATCH CODE', 'CBSA CODE', 'CBSA LEVEL', 'CSA CODE',
       'FIPS CODE', 'Full Address'],
      dtype='object')

In [27]:
# save the filtered infogroup data to csv
FILENAME = "../data/poultry_plants_2022.csv"
df_filtered.to_csv(FILENAME)

#### Do Fuzzy String Matching

In [27]:
df_filtered = pd.read_csv("../data/poultry_plants_2022.csv")

In [28]:
df_filtered["Full Address"] = df_filtered["ADDRESS LINE 1"] + ", " + df_filtered["CITY"] + ", " + df_filtered["STATE"] + " " + df_filtered["ZIPCODE"].astype(int).astype(str)

In [29]:
df_filtered["Full Address"] = df_filtered["Full Address"].astype(str)

In [30]:
df_fsis = pd.read_csv(FSIS_DATA, index_col=0)

In [31]:
df_fsis.head()

,EstNumber,EstID,Parent Corporation,Establishment Name,State,Size,Animals Processed,Processed\nVolume\nCategory,Slaughter\nVolume\nCategory,Full Address,latitude,longitude
0,M267,4802,JBS,JBS Tolleson Inc.,AZ,Large,Beef,5.0,4.0,"651 S. 91st Ave, Tolleson, AZ 85353",33.441660,-112.252559
1,M354,5117,Cargill,Cargill Meat Solutions,CA,Large,Beef,5.0,4.0,"3115 S. Fig Ave., Fresno, CA 93706",36.689651,-119.801950
2,M6063A,5289,Central Valley Meat Company,"Central Valley Meat Co., Inc.",CA,Large,Beef,5.0,4.0,"10431 8 3/4 Ave., Hanford, CA 93230",36.321273,-119.612222
3,M783 + P783 + V783,5144,Central Valley Meat Company,Harris Ranch Beef Company,CA,Large,Beef,5.0,4.0,"16277 S McCall Ave., Selma, CA 93662",36.499212,-119.614553
4,M21488 + V21488,8349,Independent,OWB Packers LLC,CA,Large,Beef,4.0,4.0,"57 East Shank Road, Brawley, CA 92227",33.000969,-115.521786

In [32]:
df_poultry = df_fsis[df_fsis["Animals Processed"].str.contains("Chicken")].copy()

In [33]:
df_poultry["Sales Volume (Location)"] = np.NaN

In [34]:
len(df_poultry)

258

In [35]:
df_poultry.head()

,EstNumber,EstID,Parent Corporation,Establishment Name,State,Size,Animals Processed,Processed\nVolume\nCategory,Slaughter\nVolume\nCategory,Full Address,latitude,longitude,Sales Volume (Location)
71,P1317 + V1317,4495,Cargill,Wayne Farms LLC,AL,Large,Chicken,5.0,5.0,"700 McDonald Avenue, Albertville, AL 35950",34.260726,-86.203222,NaN
72,P7485 + V7485,4518,Cargill,Wayne Farms LLC,AL,Large,Chicken,5.0,5.0,"1020 County Road 114, Jack, AL 36346",31.500628,-85.903438,NaN
73,P912,4493,Cargill,"Wayne Farms, LLC",AL,Large,Chicken,5.0,5.0,"444 Baskin Street South, Union Springs, AL 36089",32.139166,-85.721704,NaN
74,P7342 + V7342,4516,Cargill,Wayne Farms LLC,AL,Large,Chicken,5.0,5.0,"808 Ross Clark Circle NE, Dothan, AL 36303",31.225754,-85.362068,NaN
75,P1235,4509,Cargill,Wayne Farms LLC,AL,Large,Chicken,5.0,5.0,"254 Ipsco Road, Decatur, AL 35601",34.607601,-87.042595,NaN

In [36]:
df_match = pd.DataFrame()
df_match["Sales Volume (Location)"] = np.NaN

In [37]:
plants_to_update = {}
for i, fsis in df_poultry.iterrows():
    fsis_address = fsis["Full Address"].lower()
    for k, infogroup in df_filtered.iterrows():
        infogroup_address = infogroup["Full Address"].lower()
        if fuzz.token_sort_ratio(infogroup_address, fsis_address) > 75:
            print(f"Found a match at index {k}")
            print(infogroup_address)
            print(fsis_address)
            # plants_to_update[i] = infogroup['SALES VOLUME (9) - LOCATION']
            df_poultry.loc[i, "Sales Volume (Location)"] = infogroup['SALES VOLUME (9) - LOCATION']
            break

Found a match at index 641
700 mcdonald ave, albertville, al 35950
700 mcdonald avenue, albertville, al 35950
Found a match at index 253
1020 county road 114, jack, al 36346
1020 county road 114, jack, al 36346
Found a match at index 705
444 baskin st s, union springs, al 36089
444 baskin street  south, union springs, al 36089
Found a match at index 240
2045 highway 244, russellville, al 35654
2045 highway 244, russellville, al 35654
Found a match at index 583
3500 lake guntersville park dr, guntersville, al 35976
3500 lake guntersville park drive, guntersville, al 35976
Found a match at index 262
4693 county road 636, enterprise, al 36330
4693 county road 636, enterprise, al 36330
Found a match at index 637
764 george cagle dr, collinsville, al 35961
764 george cagle drive, collinsville, al 35961
Found a match at index 561
3301 3rd ave s, jasper, al 35501
3301 3rd avenue, jasper, al 35501
Found a match at index 635
57 melvin clark rd, eufaula, al 36027
57 melvin clark road, baker hill, al 36027
Found a match at index 584
6600 us highway 431, albertville, al 35950
6600 hwy. 431 south, albertville, al 35950
Found a match at index 435
67240 main st, blountsville, al 35031
67240 main street, blountsville, al 35031
Found a match at index 714
4201 reed lane, fort smith, ar 72904
3921 reed lane, fort smith, ar 72904
Found a match at index 296
2301 e 8th st, danville, ar 72833
2301 east 8th street, danville, ar 72833
Found a match at index 347
1306 n kansas st, springdale, ar 72764
1306 north kansas st, springdale, ar 72764
Found a match at index 688
401 s 3rd st, de queen, ar 71832
401 south 3rd street, dequeen, ar 71832
Found a match at index 286
625 allen st, batesville, ar 72501
625 south allen, batesville, ar 72501
Found a match at index 314
1291 state highway 7 n, dardanelle, ar 72834
1291 n hwy. 7, dardanelle, ar 72834
Found a match at index 287
601 tyson dr, green forest, ar 72638
601 tyson drive, green forest, ar 72638
Found a match at index 632
275 hempstead road 278, hope, ar 71801
275 county road 278, hope, ar 71801
Found a match at index 631
5505 jefferson pkwy, white hall, ar 71602
5505 jefferson parkway, pine bluff, ar 71602
Found a match at index 625
100 e cassady st, nashville, ar 71852
100 east cassady, nashville, ar 71852
Found a match at index 460
2960 s cherry ave, fresno, ca 93706
2960 cherry st., fresno, ca 93706
Found a match at index 112
133 swan st, livingston, ca 95334
843 davis st., livingston, ca 95334
Found a match at index 18
55 hosier st, selbyville, de 19975
55 hosier st., selbyville, de 19975
Found a match at index 25
292 john j williams hwy, millsboro, de 19966
29005 john j williams highway, millsboro, de 19966
Found a match at index 28
20621 savannah rd, georgetown, de 19947
20621 savannah road, georgetown, de 19947
Found a match at index 43
19740 us highway 90, live oak, fl 32060
19740 us hwy 90 west, live oak, fl 32064
Found a match at index 552
700 ga highway 133 s, moultrie, ga 31788
700 hwy 133 south, moultrie, ga 31788
Found a match at index 274
977 wayne poultry rd, pendergrass, ga 30567
977 wayne poultry road, pendergrass, ga 30567
Found a match at index 290
5163 thompson bridge rd, murrayville, ga 30564
5163 thompson bridge road, murrayville, ga 30564
Found a match at index 280
125 industrial blvd, ellijay, ga 30540
2115 industrial blvd., cornelia, ga 30531
Found a match at index 118
327 wallace rd, marietta, ga 30062
327 wallace rd., marietta, ga 30065
Found a match at index 310
107 star st e, bethlehem, ga 30620
107 star street, bethlehem, ga 30620
Found a match at index 261
8816 us highway 301, claxton, ga 30417
8816 highway 301 north, claxton, ga 30417
Found a match at index 275
950 industrial blvd, gainesville, ga 30501
949 industrial blvd., gainesville, ga 30503
Found a match at index 202
606 kingsbridge rd, carrollton, ga 30117
616 kingsbridge road, carrollton, ga 30117
Found a match at index 146
654 univeter rd, canton, ga 30115
654 univeter road, canton, ga 30115
Found a match at index 280
125 industrial blvd, ellijay, ga 30540
125 industrial blvd., ellijay, ga 30540
Found a match at index 115
113 mcneil dr, douglas, ga 31533
113 mcneil drive, douglas, ga 31533
Found a match at index 547
14075 ga highway 116, pine mtn valley, ga 31823
14075 ga hwy 116 east, pine mt valley, ga 31823
Found a match at index 384
1020 aviation blvd, gainesville, ga 30501
1020 aviation blvd, gainesville, ga 30501
Found a match at index 73
250 georgia highway 247 spur, perry, ga 31069
250 ga hwy 247 spur, perry, ga 31069
Found a match at index 536
6578 us highway 19, camilla, ga 31730
7220 us highway 19 north, camilla, ga 31730
Found a match at index 69
1151 e pine st, vienna, ga 31092
1151 e. pine street, vienna, ga 31092
Found a match at index 84
340 w maple st, cumming, ga 30040
340 w. maple, cumming, ga 30040
Found a match at index 380
13111 highway 190 w, hammond, la 70401
13111 hwy 190 west, hammond, la 70401
Found a match at index 513
6648 highway 15, farmerville, la 71241
6648 hwy 15 north, farmerville, la 71241
Found a match at index 101
3867 2nd st, arcadia, la 71001
3867 2nd st., hwy 80 west, arcadia, la 71001
Found a match at index 553
7088 highway 1 byp, natchitoches, la 71457
7088 hwy 1 bypass, natchitoches, la 71457
Found a match at index 219
517 w main st, salisbury, md 21801
521 willow st., salisbury, md 21801
Found a match at index 193
851 sauk river rd, cold spring, mn 56320
851 sauk river road, cold spring, mn 56320
Found a match at index 52
9523 state hwy w, cassville, mo 65625
9066 state hwy w, cassville, mo 65625
Found a match at index 292
10700 s state hwy, south west city, mo 64863
10700 south state hwy 43, south west city, mo 64863
Found a match at index 427
800 county rd, monett, mo 65708
800 county road, monett, mo 65708
Found a match at index 402
1 tyson ave, noel, mo 64854
one tyson avenue, noel, mo 64854
Found a match at index 109
19148 highway 51, hazlehurst, ms 39083
28163 highway 28 east, hazlehurst, ms 39083
Found a match at index 416
4039 river ridge rd, summit, ms 39666
4039 river ridge road, summit, ms 39666
Found a match at index 11
2535 sanderson dr, laurel, ms 39440
2535 sanderson drive, laurel, ms 39440
Found a match at index 8
1111 n fir ave, collins, ms 39428
1111 north fir ave, collins, ms 39428
Found a match at index 4
1301 james st, hattiesburg, ms 39401
1301 james street, hattiesburg, ms 39401
Found a match at index 121
1225 jack lee dr, forest, ms 39074
1225 jack lee drive, forest, ms 39074
Found a match at index 125
802 e atkins st, dobson, nc 27017
802 e. atkins street, dobson, nc 27017
Found a match at index 468
2081 sanderson way, kinston, nc 28504
2081 sanderson way, kinston, nc 28504
Found a match at index 117
330 pecan rd, dudley, nc 28333
330 pecan road, dudley, nc 28333
Found a match at index 149
121 rand st, morganton, nc 28655
121 rand street, morganton, nc 28655
Found a match at index 570
3333 s us 117 hwy, rose hill, nc 28458
3333 highway 117 south, rose hill, nc 28458
Found a match at index 579
253 butterball rd, teachey, nc 28464
253 butterball road, teachey, nc 28464
Found a match at index 490
484 zimmerman rd, sanford, nc 27330
484 zimmerman road, sanford, nc 27330
Found a match at index 30
6608 e marshville blvd, marshville, nc 28103
5901 w. marshville blvd, marshville, nc 28103
Found a match at index 134
17269 nc highway 71, lumber bridge, nc 28357
17269 nc highway 71 north, lumber bridge, nc 28357
Found a match at index 113
416 s long dr, rockingham, nc 28379
416 s. long drive, rockingham, nc 28379
Found a match at index 87
hwy 259 s, broken bow, ok 74728
highway 259 south, broken bow, ok 74728
Found a match at index 560
154 w main st, fredericksburg, pa 17026
154 w. main street, fredericksburg, pa 17026
Found a match at index 594
220 n center st, fredericksburg, pa 17026
520 chestnut hill road, fredericksburg, pa 17026
Found a match at index 66
403 s custer ave, new holland, pa 17557
403 s. custer avenue, new holland, pa 17557
Found a match at index 368
1354 rutherford rd, greenville, sc 29609
1354 rutherford rd., greenville, sc 29609
Found a match at index 203
441 sunset blvd, west columbia, sc 29169
410 sunset boulevard, west columbia, sc 29169
Found a match at index 215
2050 hwy 15 s, sumter, sc 29150
2050 highway 15 south, sumter, sc 29150
Found a match at index 78
1620 progress pkwy, morristown, tn 37813
1620  progress parkway, morristown, tn 37813
Found a match at index 80
901 w jackson st, shelbyville, tn 37160
901 w. jackson street, shelbyville, tn 37160
Found a match at index 181
2800 tyson dr, union city, tn 38261
2800 e. tyson dr., union city, tn 38261
Found a match at index 662
301 aviation pkwy, waco, tx 76705
301 aviation parkway, waco, tx 76705
Found a match at index 507
320 sanderson farms pkwy, palestine, tx 75803
320 sanderson farms pkwy, palestine, tx 75803
Found a match at index 544
928 martin luther king jr blvd, nacogdoches, tx 75961
928 martin luther king jr. blvd., nacogdoches, tx 75961
Found a match at index 543
1800 w frank ave, lufkin, tx 75904
1710 w. frank avenue, lufkin, tx 75904
Found a match at index 415
1484 ne loop, carthage, tx 75633
1484 ne loop, carthage, tx 75633
Found a match at index 542
1019 shelbyville st, center, tx 75935
1019 shelbyville street, center, tx 75935
Found a match at index 192
1200 w kingsbury st, seguin, tx 78155
1200 west kingsbury street, seguin, tx 78155
Found a match at index 590
19992 senedo rd, edinburg, va 22824
19992 senedo rd., edinburg, va 22824
Found a match at index 598
1435 n liberty st, harrisonburg, va 22802
501 north liberty street, harrisonburg, va 22802
Found a match at index 586
330 coop dr, timberville, va 22853
330 co-op drive, timberville, va 22853
Found a match at index 672
13264 mountain rd, glen allen, va 23059
13264 mountain road, glen allen, va 23059
Found a match at index 655
1700 s 13th ave, kelso, wa 98626
1700 south 13th avenue, kelso, wa 98626
Found a match at index 605
220 n west st, postville, ia 52162
220 west street, postville, ia 52162
Found a match at index 83
2352 county road 719, cullman, al 35055
2352 county road 719, cullman, al 35055
Found a match at index 423
409 primo way, modesto, ca 95358
409 primo way, modesto, ca 95358
Found a match at index 71
302 s san joaquin st, stockton, ca 95203
302 s san joaquin st., stockton, ca 95203
Found a match at index 683
13625 yorba ave, chino, ca 91710
13625 yorba ave., chino, ca 91710
Found a match at index 55
119 n cr 000 e, arthur, il 61911
119 n cr 000 east, arthur, il 61911
Found a match at index 530
545 valley rd, corydon, in 47112
545 valley road, corydon, in 47112
Found a match at index 390
329 moselle seminary rd, moselle, ms 39459
329 moselle-seminary road, moselle, ms 39459
Found a match at index 698
almond rd, norma, nj 8347
110  almond road, norma, nj 8347
Found a match at index 470
28 warren st, paterson, nj 7524
2-8 warren street, paterson, nj 7524
Found a match at index 59
5190 main st, south fallsburg, ny 12779
5190  main street, south fallsburg, ny 12779
Found a match at index 70
80 brooks rd, ferndale, ny 12734
80 brooks road, ferndale, ny 12734
Found a match at index 62
504 stanton corner rd, ferndale, ny 12734
504 stanton corners road, ferndale, ny 12734
Found a match at index 405
1925 30th st ne, canton, oh 44705
1925 30th st. ne, canton, oh 44705
Found a match at index 392
1818 county road 160, winesburg, oh 44690
1818 county road 160, winesburg, oh 44690
Found a match at index 407
5889 kidron rd, kidron, oh 44636
5889 kidron rd., kidron, oh 44636
Found a match at index 594
220 n center st, fredericksburg, pa 17026
220 north center street, fredericksburg, pa 17026
Found a match at index 441
300 breck st, scranton, pa 18505
300 breck street, scranton, pa 18505
Found a match at index 217
335 broad st, sumter, sc 29150
333 broad street, sumter, sc 29150
Found a match at index 386
1826 cappella st, chattanooga, tn 37408
1826 cappella street, chattanooga, tn 37408
Found a match at index 595
145 e old cross rd, new market, va 22844
145 east old cross road, new market, va 22844
Found a match at index 598
1435 n liberty st, harrisonburg, va 22802
862 n. liberty street, harrisonburg, va 22802
Found a match at index 321
580 jeff adams rd, pembroke, ky 42266
1567 jeff adams road, pembroke, ky 42266
Found a match at index 88
6131 mason rd, fowlerville, mi 48836
6131 mason road, fowlerville, mi 48836
Found a match at index 208
47422 state highway v, rutledge, mo 63563
47422 state hwy v, rutledge, mo 63563
Found a match at index 710
1100 s mill rd, vineland, nj 8360
1100 south mill road, vineland, nj 8360

In [38]:
df_poultry.head()

,EstNumber,EstID,Parent Corporation,Establishment Name,State,Size,Animals Processed,Processed\nVolume\nCategory,Slaughter\nVolume\nCategory,Full Address,latitude,longitude,Sales Volume (Location)
71,P1317 + V1317,4495,Cargill,Wayne Farms LLC,AL,Large,Chicken,5.0,5.0,"700 McDonald Avenue, Albertville, AL 35950",34.260726,-86.203222,438268.0
72,P7485 + V7485,4518,Cargill,Wayne Farms LLC,AL,Large,Chicken,5.0,5.0,"1020 County Road 114, Jack, AL 36346",31.500628,-85.903438,576660.0
73,P912,4493,Cargill,"Wayne Farms, LLC",AL,Large,Chicken,5.0,5.0,"444 Baskin Street South, Union Springs, AL 36089",32.139166,-85.721704,271713.0
74,P7342 + V7342,4516,Cargill,Wayne Farms LLC,AL,Large,Chicken,5.0,5.0,"808 Ross Clark Circle NE, Dothan, AL 36303",31.225754,-85.362068,NaN
75,P1235,4509,Cargill,Wayne Farms LLC,AL,Large,Chicken,5.0,5.0,"254 Ipsco Road, Decatur, AL 35601",34.607601,-87.042595,NaN

In [39]:
df_poultry["Sales Volume (Location)"].isna().sum()

139

In [40]:
# save poultry plants with matches sales data
df_poultry.to_csv("../data/poultry_plants_with_sales.csv")