In [1]:
import pandas as pd
from fuzzywuzzy import fuzz
import numpy as np

c:\Users\chacon1\AppData\Local\Programs\Python\Python39\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
# 0241 - Dairy Farms sits in Division A - Agriculture, Forestry, Fishing and Hunting

FILEPATH = "../data/code_0241.csv"
df = pd.read_csv(FILEPATH)

In [3]:
df.head()

,Unnamed: 0,COMPANY,ADDRESS LINE 1,CITY,STATE,ZIPCODE,ZIP4,COUNTY CODE,AREA CODE,IDCODE,...,POPULATION CODE,CENSUS TRACT,CENSUS BLOCK,LATITUDE,LONGITUDE,MATCH CODE,CBSA CODE,CBSA LEVEL,CSA CODE,FIPS CODE
0,0,MOSSING'S DAIRY LLC,47447 233A ST,EGAN,SD,57024,6439.0,101,605,2,...,2,959600,2,43.998130,-96.721610,P,0,NaN,0,46101
1,1,LONG DAIRY FARM INC,27164 477TH AVE,HARRISBURG,SD,57032,8210.0,83,605,2,...,5,10107,3,43.450902,-96.667723,P,43620,2.0,0,46083
2,2,CYPHER DAIRY CONSULTING LLC,26443 461ST AVE,HARTFORD,SD,57033,6703.0,99,605,2,...,4,10300,2,43.551800,-96.992924,P,43620,2.0,0,46099
3,3,UNITED DAIRY INC,6 GARVIN DAIRY RD,FAIRMONT,WV,26554,5058.0,49,304,2,...,7,21000,2,39.481453,-80.082759,P,21900,1.0,390,54049
4,4,DAIRYNET INC,2301 RESEARCH PARK WAY # 155,BROOKINGS,SD,57006,1724.0,11,605,2,...,7,958900,5,44.320347,-96.764656,P,15100,1.0,0,46011

In [7]:
# filter out SIC6_DESCRIPTIONS that are irrelvant 

# new dataframe that will contains the filtered set
df_filter = pd.DataFrame(columns=df.columns)

# remove anything containing a label that only appears less than x amount of times
x = 15
temp_series = df["SIC6_DESCRIPTIONS"].value_counts()[df["SIC6_DESCRIPTIONS"].value_counts() < x]

# extract the labels from the series created above, these are the labels that we will be removing
# put them into a list
temp_labels = temp_series.index
temp_label_list = temp_labels.tolist()

# after printing the output at the end, I came back and added label manually taht I wanted to remove
temp_label_list += ['DAIRIES (MILK)', 'FLUID MILK (MFRS)', 'RESTAURANTS', 'ICE CREAM PARLORS', 'GROCERS-RETAIL',
                    'CONVENIENCE STORES', 'ICE CREAM & FROZEN DESSERTS (MFRS)', 'DAIRY CONSULTANTS',
                    'CHEESE PROCESSORS (MFRS)', 'CHEESE', 'DAIRY EQUIPMENT & SUPPLIES (WHLS)']    
   

# create new dataframe df_filter that does NOT contain the above undesired labels
for i in range(len(df)):
    if df.iloc[i]["SIC6_DESCRIPTIONS"] in temp_label_list:
        # print(df.iloc[i]["SIC6_DESCRIPTIONS"])
        continue
    else:
        df_filter.loc[len(df_filter.index)] = df.iloc[i] # adding it to the new DataFrame

In [8]:
df_filter["SIC6_DESCRIPTIONS"].value_counts()

SIC6_DESCRIPTIONS
DAIRY FARMS                     1478
FARMS                            138
DAIRY PRODUCTS-RETAIL             95
DAIRY PRODUCTS-WHOLESALE          88
GENERAL FARMS-PRIMARILY CROP      23
Name: count, dtype: int64